---
import { actions } from "astro:actions";
import Layout from "../../../layouts/Layout.astro";
import PagePathCountTable from "../../../components/PagePathCountTable.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/");
}

const { siteId } = Astro.params;

if (!siteId || typeof siteId !== "string") {
  return Astro.redirect("/dashboard");
}

const { data: dbSite, error } = await Astro.callAction(
  actions.site.getSiteById,
  {
    siteId: Number(siteId),
  }
);

if (error) {
  console.error(error);
}

if (!dbSite) {
  return Astro.redirect("/dashboard");
}

const { data: dbUser, error: err1 } = await Astro.callAction(
  actions.user.getUserByEmail,
  {
    email: session.user!.email!,
  }
);

if (err1) {
  console.error(err1);
}

if (!dbUser) {
  return Astro.redirect("/");
}

if (dbSite.userId !== dbUser.id) {
  return Astro.redirect("/dashboard");
}

const { data: siteVisits, error: err2 } = await Astro.callAction(
  actions.hits.getHitsForSite,
  {
    siteId: dbSite.id,
    // minDate: null,
  }
);

if (err2) {
  console.error(err2);
}

if (!siteVisits) {
  return Astro.redirect("/dashboard");
}

const countsForPath: { [key: string]: number } = {};
const countsForReferrer: { [key: string]: number } = {};
const countsForCountry: { [key: string]: number } = {};

const countsForOS: { [key: string]: number } = {};
const countsForBrowser: { [key: string]: number } = {};
const countsForDevice: { [key: string]: number } = {};

siteVisits.forEach((visit) => {
  if (visit.path) {
    countsForPath[visit.path] = (countsForPath[visit.path] || 0) + 1;
  }

  if (visit.httpReferer) {
    countsForReferrer[visit.httpReferer] =
      (countsForReferrer[visit.httpReferer] || 0) + 1;
  }

  if (visit.countryCode) {
    countsForCountry[visit.countryCode] =
      (countsForCountry[visit.countryCode] || 0) + 1;
  }

  if (visit.visitorOS) {
    countsForOS[visit.visitorOS] = (countsForOS[visit.visitorOS] || 0) + 1;
  }

  if (visit.visitorBrowser) {
    countsForBrowser[visit.visitorBrowser] =
      (countsForBrowser[visit.visitorBrowser] || 0) + 1;
  }

  if (visit.visitorDeviceType) {
    countsForDevice[visit.visitorDeviceType] =
      (countsForDevice[visit.visitorDeviceType] || 0) + 1;
  }
});

// sort the counts
const sortedCountsForPath = Object.entries(countsForPath)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});

const sortedCountsForReferrer = Object.entries(countsForReferrer)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});

const sortedCountsForCountry = Object.entries(countsForCountry)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});

const sortedCountsForOS = Object.entries(countsForOS)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});

const sortedCountsForBrowser = Object.entries(countsForBrowser)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});

const sortedCountsForDevice = Object.entries(countsForDevice)
  .sort(([, a], [, b]) => b - a)
  .reduce((acc, [key, value]) => {
    acc[key] = value;
    return acc;
  }, {});
---

<Layout title={`Dashboard - ${dbSite.url}`}>
  <h1 class="text-2xl font-bold">{dbSite.url}</h1>

  <!-- embed instructions link -->
  <div class="mt-2 mb-8">
    <a
      href={`/dashboard/site/embed_instructions_${siteId}`}
      class="text-blue-500 underline"
    >
      Embed Instructions
    </a>
  </div>

  <hr class="my-4 border-t border-gray-200" />

  <!-- total vists -->
  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-bold">Total visits</h2>
      <p class="mt-2 text-3xl font-semibold text-gray-700">
        {siteVisits.length}
      </p>
    </div>
  </div>

  <!-- graph of visits -->

  <h2 class="text-xl font-bold">Graph</h2>

  WIP

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each path -->
  <PagePathCountTable
    title="Visits by path"
    pathToCounts={sortedCountsForPath}
    siteUrl={dbSite}
  />

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each referer and referer for path -->
  <PagePathCountTable
    title="Visits by referrer"
    pathToCounts={sortedCountsForReferrer}
    siteUrl={dbSite}
  />

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each country -->
  <PagePathCountTable
    title="Visits by country"
    pathToCounts={sortedCountsForCountry}
    siteUrl={dbSite}
    addLinks={false}
  />

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each OS -->
  <PagePathCountTable
    title="Visits by OS"
    pathToCounts={sortedCountsForOS}
    siteUrl={dbSite}
    addLinks={false}
  />

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each browser -->
  <PagePathCountTable
    title="Visits by browser"
    pathToCounts={sortedCountsForBrowser}
    siteUrl={dbSite}
    addLinks={false}
  />

  <div class="mt-4">
    <hr class="my-4 border-t border-gray-200" />
  </div>

  <!-- counts for each device -->
  <PagePathCountTable
    title="Visits by device"
    pathToCounts={sortedCountsForDevice}
    siteUrl={dbSite}
    addLinks={false}
  />
</Layout>
