---
import { actions } from "astro:actions";
import Layout from "../../../layouts/Layout.astro";
import PagePathCountTable from "../../../components/PagePathCountTable.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/");
}

const { siteId } = Astro.params;

if (!siteId || typeof siteId !== "string") {
  return Astro.redirect("/dashboard");
}

const { data: dbSite, error } = await Astro.callAction(
  actions.site.getSiteById,
  {
    siteId: Number(siteId),
  }
);

if (error) {
  console.error(error);
}

if (!dbSite) {
  return Astro.redirect("/dashboard");
}

const { data: dbUser, error: err1 } = await Astro.callAction(
  actions.user.getUserByEmail,
  {
    email: session.user!.email!,
  }
);

if (err1) {
  console.error(err1);
}

if (!dbUser) {
  return Astro.redirect("/");
}

if (dbSite.userId !== dbUser.id) {
  return Astro.redirect("/dashboard");
}

const currentDomain =
  import.meta.env.MODE === "development"
    ? "http://localhost:4321"
    : "https://mochi.meadow.cafe";
---

<Layout title={`Embedding instructions for ${dbSite.url}`}>
  <h1 class="text-2xl font-bold">{dbSite.url}</h1>

  <!-- embed instructions link -->
  <div class="mt-2 mb-8">
    <a href={`/dashboard/site/${siteId}`} class="text-blue-500 underline">
      Back to side dashboard
    </a>
  </div>

  <hr class="my-4 border-t border-gray-200" />

  <div class="m-4 mb-8">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-bold">Embed instructions</h2>
      <div class="mt-2 text-gray-700">
        <p class="mb-2">
          To embed the analytics script on your site, follow these steps:
        </p>
        <p class="mb-4">Copy the script tag below:</p>
        <code class="bg-gray-100 p-2 rounded-md block">
          &lt;script src="{currentDomain}/reaper/embed/{dbSite.id}.js"
          async&gt;&lt;/script&gt;
        </code>
        <p class="mb-2 mt-4">
          Paste the script tag into the HTML of your website, just before the
          closing <code>&lt;/body&gt;</code> tag.
        </p>
        <p class="mb-4">
          This will start tracking visits to your site and sending the data to
          your dashboard.
        </p>
      </div>
    </div>
  </div>
</Layout>
